<ion-grid class="ion-no-margin">
  <ion-row>
    <ion-col>
      <ion-text class="bold">Introduction to the Angular </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>
        Angular is an application design framework and development platform for
        creating efficient and sophisticated single-page apps.
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list class="cards-container">
        <app-card
          *ngFor="let cardItem of cardItems"
          title="{{cardItem.title}}"
          description="{{cardItem.description}}"
          buttonLabel="{{cardItem.buttonLabel}}"
        ></app-card>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
